# Package Files 
*.jar
*.war
*.ear

# Class Files
*.class

# System Files
*._.DS_Store
*._.gitignore
*.DS_Store
*Thumbs.db

# gradle
*.gradle/
*build/
*classes/

# Netbeans
nbproject/

# IDEA
*.idea/
*.iml
*.ipr

core/out/
fsc/out/
fxcomponents/out/
examples/out/
