# Package Files 
*.jar
*.war
*.ear

# Class Files
*.class

# System Files
*._.DS_Store
*._.gitignore
*.DS_Store
*Thumbs.db

# gradle
*.gradle/
core/build/*
core/classes/*
fsc/build/*
fsc/classes/*
core-test/build/*
core-test/classes/*
fsc-test/build/*
fsc-test/classes/*
fxcomponents/build/*
fxcomponents/classes/*
examples/build/*
examples/classes/*
!gradle/wrapper/gradle-wrapper.jar

# Netbeans
nbproject/

# IDEA
*.idea/
*.iml
*.ipr

core/out/*
core-test/out/*
fsc/out/*
fsc-test/out/*
fxcomponents/out/*
examples/out/*

