# System Files
*._.DS_Store
*._.gitignore
*.DS_Store
*Thumbs.db

# gradle
*.gradle/
core/build/*
core/classes/*
core/out/*
fsc/build/*
fsc/classes/*
fsc/out/*
core-test/build/*
core-test/classes/*
core-test/out/*
fsc-test/build/*
fsc-test/classes/*
fsc-test/out/*
fxcomponents/build/*
fxcomponents/classes/*
fxcomponents/out/*
examples/build/*
examples/classes/*
examples/out/*

# Netbeans
nbproject/

# IDEA
*.idea/
*.iml
*.ipr



